#titulo{
	background-color: #5691C9;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

#tituloTecnico{
	background-color: #9C27B0;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}



#bckIN{
	
	background-color: #14f118;
    color: #000;
    font-weight: bold;
	
}

#bckOut{
	background-color: #f1b514;
    color: #000;
    font-weight: bold;
	
}




