#titulo{
	background-color: #276fff;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

#bckOut{
	background-color: #f1b514;
    color: #000;
    font-weight: bold;
	
}

#bckIN{
	
	background-color: #14f118;
    color: #000;
    font-weight: bold;
	
}


