.fluig-style-guide .well {    
    transition: box-shadow .25s;
    padding: 20px !important;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.fluig-style-guide div.label-header {
    margin: 10px 0 30px;
}

.fluig-style-guide div.label-header div {
	margin-left: -21px;
    padding: 3px 10px;
    font-size: 25px;
    border-radius: 0 2px 2px;
    width: 100%;
    text-align: right;
    color: white;
}

.fluig-style-guide div.label-header.purple div {
	background-color: rgb(112, 48, 160);
	max-width: 159px;
}

.fluig-style-guide div.label-header.blue div {
	background-color: rgb(0, 112, 192);
	max-width: 94px;
}

.fluig-style-guide div.label-header.green div {
	background-color: rgb(0, 176, 80);
	max-width: 328px;
}